
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.9)"
  template="<img src='/assets/image/images/freshcart-logo.svg' />"
  size="medium"
  color="#fff"
>
</ngx-spinner>

    <div class="home vh-100">
        <div class="layer d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h2 class="brand text-light ">Shop with US</h2>
                <button routerLink="/products" class="rounded-2 p-2 border border-1 border-light bg-dark-subtle fs-6 fw-medium">Go to products</button>
            </div>
               
        </div>
    </div>


