.cart{
    position:relative;
}

.cartitem{
    position:absolute;
    top:0px;
    right:0px;
    color:white;
    transform: translate(-50%,-50%);
}


.wish{
    position:relative;
}

.wishitem{
    position:absolute;
    top:1px;
    left:7px;
    color:white;
   
}