<div class="login w-75 mx-auto p-3 my-3">
    @if(emailformflag){
        <form action="" [formGroup]="forgetpasswordform" (ngSubmit)="checkforgetpassword()">
            <h2>Email confirm:</h2>
            @if(errmsg){
                <div class="alert alert-danger m-0 p-0">
                    <p class="p-1 m-0"> {{errmsg}}</p>
                 </div>
            }
           
            <label for="">Email:</label>
                    <input  formControlName="email" type="email" class="form-control">
            @if(forgetpasswordform.get('email')?.errors && forgetpasswordform.get('email')?.touched){
                @if(forgetpasswordform.get('email')?.errors?.['required']){
                    <div class="alert alert-danger m-0 p-0">
                        <p>email is required</p>
                    </div>
                }
    
                @else if (forgetpasswordform.get('email')?.errors?.['email']) {
                  
                        <div class="alert alert-danger m-0 p-0">
                            <p>email is must be end with gmail.com</p>
                        </div>
                    
                }
            }
    
            <button [disabled]="forgetpasswordform.invalid" class="border-0 main p-2 rounded-2 ms-auto d-block mt-3 text-light">
                @if(isloading){<span><i class="fa fa-spin fa-spinner"></i></span>}
                @else{
                    <span>Send</span>
                }
                
            </button>
            
        </form>
    }
    

<!--    ------------------------         codeform            ------------------------------------------------>
    @if(codeformflag){
        <form action="" [formGroup]="codeform" (ngSubmit)="checkcodeform()">
            <h2>Code confirm:</h2>
            @if(errmsgcode){
                <div class="alert alert-danger m-0 p-0">
                    <p class="p-1 m-0"> {{errmsg}}</p>
                 </div>
            }
            <label for="" >Code:</label>
            <input formControlName="resetCode" type="text" class="form-control">
            @if(codeform.get('resetCode')?.errors && codeform.get('resetCode')?.touched){
                @if(codeform.get('resetCode')?.errors?.['required']){
                    <div class="alert alert-danger m-0 p-0">
                        <p>code is required</p>
                    </div>
                }
                @else if (codeform.get('resetCode')?.errors?.['pattern']) {
                  
                    <div class="alert alert-danger m-0 p-0">
                        <p>code must be at least three digits</p>
                    </div>
                
            }
            }
    
            <button [disabled]="codeform.invalid" class="border-0 main p-2 rounded-2 ms-auto d-block mt-3 text-light">
                @if(isloadingcode){<span><i class="fa fa-spin fa-spinner"></i></span>}
                @else{
                    <span>Send</span>
                }
                
            </button>
        </form>
    }
    



    <!-- ==========================                      reset password form       ================================              -->

    @if(resetformflag){
        <form action="" [formGroup]="resetpasswordform" (ngSubmit)="checkresetpasswordform()">
            <h2>reset password confirm:</h2>
            @if(errmsgreset){
                <div class="alert alert-danger m-0 p-0">
                    <p class="p-1 m-0"> {{errmsgreset}}</p>
                 </div>
            }
            <label for="" >email:</label>
            <input  readonly    formControlName="email" type="text" class="form-control">
            @if(resetpasswordform.get('email')?.errors && resetpasswordform.get('email')?.touched){
                @if(resetpasswordform.get('email')?.errors?.['required']){
                    <div class="alert alert-danger m-0 p-0">
                        <p>email is required</p>
                    </div>
                }

                @else if(resetpasswordform.get('email')?.errors?.['email']){
                    <div class="alert alert-danger m-0 p-0">
                        <p>email is end with gmail.com</p>
                    </div>
                }
                
            }

            <label for="" >new password:</label>
            <input formControlName="newPassword" type="password" class="form-control">
            @if(resetpasswordform.get('newPassword')?.errors && resetpasswordform.get('newPassword')?.touched){
                @if (resetpasswordform.get('newPassword')?.errors?.['required']) {
                  
                    <div class="alert alert-danger m-0 p-0">
                        <p>password shoud be required</p>
                    </div>
                
            }
            @else if (resetpasswordform.get('newPassword')?.errors?.['pattern']) {
                  
                <div class="alert alert-danger m-0 p-0">
                    <p>password shoud be contain with alphanumeric at least 8 digits</p>
                </div>
            
        }
            }
            <button [disabled]="resetpasswordform.invalid" class="border-0 main p-2 rounded-2 ms-auto d-block mt-3 text-light">
                @if(isloadingreset){<span><i class="fa fa-spin fa-spinner"></i></span>}
                @else{
                    <span>Submit</span>
                }
                
            </button>
        </form>
    }

       </div> 



    




    
      
            